@import "tailwindcss";

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin-slow {
  animation: spin-slow 30s linear infinite;
}

html,
body {
  overflow-x: hidden;
}

/* Thin light gray scrollbar for all scrollable elements */
::-webkit-scrollbar {
  width: 6px; /* cienki pasek */
  height: 6px; /* dla poziomych scrollbarów */
  background-color: rgba(200, 200, 200, 0.1); /* lekko przezroczyste tło */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(200, 200, 200, 0.6); /* jasnoszary „uchwyt” */
  border-radius: 3px; /* zaokrąglenie końców */
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(200, 200, 200, 0.8); /* jaśniejsze przy hover */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(200, 200, 200, 0.6) rgba(200, 200, 200, 0.1);
}
