@import "tailwindcss";

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin-slow {
  animation: spin-slow 30s linear infinite;
}

html,
body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: rgba(200, 200, 200, 0.1);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(200, 200, 200, 0.6);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(200, 200, 200, 0.8);
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(200, 200, 200, 0.6) rgba(200, 200, 200, 0.1);
}
